body { font-family: Arial; }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover { background-color: #ddd; }

.tab button.active { background-color: #ccc; }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.container {
    padding: 20px;
    background-color: #f2f2f2;
}

a.button {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

a.button:hover {
    background-color: #0056b3;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}

#addMovieMessage, 
#addTVShowMessage,
#addCreatorMessage {
    color: green;
    margin-top: 10px;
}

#addRandomMovieMessage,
#addRandomTVShowMessage,
#addRandomCreatorMessage {
    color: green;
    margin-top: 10px;
}

.left-side, .right-side {
    float: left;
    width: 45%;
    padding: 10px;
}

.box {
    background-color: #f1f1f1;
    margin-bottom: 20px;
    padding-top: 0.5px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrollable-table {
    height: 150px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 2px;
}

th {
    background-color: #384397;
    color: white;
}

.title {
    font-size: 15px;
    padding: 1px;
}

table tr td:nth-child(2) {
    width: 260px;
}

table tr td:nth-child(3) {
    width: 40px;
}

.remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #d9534f;
}

.remove-btn:hover {
    color: #c9302c;
}

.statistics-box {
    background-color: #e7e7e7;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#Account {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

#Account h3 {
    color: #333;
    margin-bottom: 15px;
}

#Account p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.delete-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c9302c;
}

#Recommended {
    display: flex;
    justify-content: space-between;
}

.box h3 {
    margin-bottom: 10px;
}

.recommended-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.recommended-item p {
    margin: 5px 0;
}

#followingTable {
    width: 100%;
    border-collapse: collapse;
}

#followingTable th, #followingTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#followingTable th {
    background-color: #384397;
}

.user-activity {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user-activity h4 {
    margin: 10px 0;
    font-size: 16px;
}

.user-activity p {
    margin: 6px;
    font-size: 14px;
}

.user-activity div {
    margin: 6px;
}

.badges-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.badge-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.badge-name {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

#badge-first-timer.earned {background-image: linear-gradient(to right, #4facfe, #00f2fe);}
#badge-novice-watcher.earned {background-image: linear-gradient(to right, #85ffbd, #fffb7d);}
#badge-regular-watcher.earned {background-image: linear-gradient(to right, #f794a4, #fdd6bd);}
#badge-binge-watcher.earned {background-image: linear-gradient(to right, #a18cd1, #fbc2eb);}
#badge-genre-explorer.earned {background-image: linear-gradient(to right, #0a5c36, #1bfd9c);}
#badge-movie-buff.earned {background-image: linear-gradient(to right, #FCF6F5FF, #42EADDFF);}
#badge-series-master.earned {background-image: linear-gradient(to right, #FCF6F5FF, #D01C1FFF);}
#badge-content-king.earned {background-image: linear-gradient(to right, #FCF6F5FF, #603F83FF);}
#badge-social-butterfly.earned {background-image: linear-gradient(to right, #FEE715FF, #F2AA4CFF);}
#badge-influencer.earned {background-image: linear-gradient(to right, #F875AA, #AEDEFC);}

.badge-description {
    visibility: hidden;
    width: 120px;
    background-color: #e5e5e5;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.badge-container:hover .badge-description {
    visibility: visible;
    opacity: 1;
}

.badge-description::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
